.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0;

  .page-title {
    font-size: 80px;
  }

  .page-subtitle {
    color: red;
    font-size: 50px;
  }
}

.box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
}

.box {
  flex: 1 1 300px;
  max-width: 330px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0.3);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.box .image {
  padding: 10px;
  background: #eee;
  text-align: center;
}
.box .image img {
  height: 330px;
  width: 250px;
  background-size: cover;
  filter: drop-shadow(0 3px 50px rgba(0, 0, 0, 0.7));
}

.box .info .title {
  padding: 10px;
  font-size: 18px;
  white-space: nowrap;
}

.box .info .subinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.box .info .subinfo .price {
  color: red;
  font-size: 20px;
}

.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}

.box .overlay img {
  color: #666;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  margin: 10px;
  padding: 8px 10px;
  transform: translateY(-300px);
  transition: 0.3s;
  cursor: pointer;
}

.box:hover .overlay img {
  transform: translateY(0);
  filter: drop-shadow(0 3px 50px rgb(0, 0, 0));
}

.field {
  padding: 0 20px;
  margin-left: 25px;
}
